@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

body {
  margin: 0;
  font-family: 'Londrina Solid', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
